/* 基本設定 */
html,
body {
    height: 100% !important;
    width: 100%;
    background-color: rgb(196, 211, 211) !important;
}

/* 在某个地方定义图像 URL 变量 */
:root {
    --soccer-ball-url: url(../image/ball-soccer.png);
    --baseball-ball-url: url(../image/ball-baseball.png);
}

/* 使用这些变量作为背景图像 */
#wrap {
    display: inline-flex;
    background-image: var(--soccer-ball-url), var(--baseball-ball-url);
    background-position: top -13% left -5%, bottom 10% right -5%;
    background-repeat: no-repeat;
    background-size: 23%, 25%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-red {
    color: red;
}

.leftArea {
    width: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.rightArea {
    width: 85%;
    padding-left: 1rem;
    padding-right: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.col-30 {
    width: 30% !important;
    flex: 0 0 auto;
}

.col-40 {
    width: 40% !important;
    flex: 0 0 auto;
}

.fs-09 {
    font-size: 0.9rem;
}

.fw-600 {
    font-weight: 600;
}

.bd-t-l-r-25 {
    border-top-left-radius: 25px;
}

.bd-b-l-r-25 {
    border-bottom-left-radius: 25px;
}

.bd-t-r-r-25 {
    border-top-right-radius: 25px;
}

.bd-b-r-r-25 {
    border-bottom-right-radius: 25px;
}

/* 通用顏色 */
.bg-deepgreen {
    background-color: rgb(65, 91, 90);
}

.bg-lightgreen {
    background-color: rgb(196, 211, 211);
}

/* logo */
#logoArea {
    margin-top: 0.5rem;
    height: 2rem;
}

#logoArea img {
    width: 100%;
    height: 160%;
    margin-top: -0.5rem;
}

/* css update left menu */
#sidenav p {
    margin: 0px;
    font-weight: 600;
}

#sidenav {
    height: calc(100% - 3.5rem);
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-top: 0.5rem;
}

#userArea.user-con{
    background-color: rgb(60, 84, 84);
    padding: 1rem;
    color:#ffffff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gameCategory.game-con {
    height: 95%;
    background-color: rgb(65, 91, 90);
}

 /* ------------ */
 #subMenuContainer {
    height: calc(100% - 5rem);
    padding:1.5rem 0rem 1.5rem 1rem;
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#subMenuContainer::-webkit-scrollbar {
    width: 0px;
}

a.submenu-btn,
div.submenu-btn {
    cursor:pointer;
    color: #ffffff!important;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.submenu-main .submenu-btn i {
    color:#c79e42;
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translate(0%, -50%);
}

.submenu-btn{
    position: relative;
    padding-left: 1.1rem;
}

.submenu-main i {
    margin-right: 0.5rem!important;
    position: relative;
    font-size: 14px;
}

.submenu-main{
    color:#ffffff;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: #415b5a;
    position:relative;
}

.submenu-main.active .submenu-btn{
    color: #415b5a!important;
}

.submenu-main.active,
.submenu-main.clicked{
    background-color: #c4d3d3;
    color: #415b5a;
    z-index:1;
}

.submenu-main.active::before,
.submenu-main.active .submenu-inner::before,
.submenu-main.active::after,
.submenu-main.active .submenu-inner::after{
    position:absolute;
    content:'';
    height:2rem;
    width:2rem;
    right:0;
}

.submenu-main.active::before,
.submenu-main.active::after{
    background-color: #415b5a;
    transform: rotate(180deg);
}

.submenu-main.active .submenu-inner::before,
.submenu-main.active .submenu-inner::after{
    background-color: #c4d3d3;
}

.submenu-main.active .submenu-inner::before{
    top:-2rem;
    z-index: -1;
}

.submenu-main.active::before{
    top:-2rem;
    border-top-left-radius: 2rem;
}

.submenu-main.active .submenu-inner::after{
    bottom:-2rem;
    z-index: -1;
}

.submenu-main.active::after,
.submenu-main.clicked::after{
    bottom:-2rem;
    border-bottom-left-radius: 2rem;
}

.submenu-toggle-list {
    display: grid;
    grid-template-columns: 1fr;
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    -webkit-transition: max-height 0.3s ease-out;
}

/* .submenu-main.active .submenu-toggle-list{
    max-height: 900px;
} */

.sportSelect {
    border: 1px solid #415b5a;
    border-radius: 5px;
    padding: 0.5rem;
    background: #415b5a;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0.5rem 0rem 0rem 0.5rem;
    transition: all 0.2s linear;
}

a.sportSelect{
    color: white;
    text-decoration: none;
}

.submenu-inner, a.submenu-inner {
    cursor: pointer;
    text-decoration: none;
}

a.submenu-inner:hover {
    color: white!important;
}

/* .sportSelect:nth-child(1) {
    margin:1rem 0rem 0rem 2.1rem!important;
}

.sportSelect:last-child {
    margin:0rem 0rem 1rem 2.1rem;
} */

a.sportSelect:hover,
.sportSelect.openToggle {
    background: #ffffff!important;
    color: #415b5a!important;
}

.sportSelect .sportname-con {
    align-items: center;
    justify-content: space-start;
    display: flex;
}

.sportSelect .sportname-con i{
    margin-right:0.1rem;
}

.subMenuLogoutCon {
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #415b5a;
    z-index: 2;
}

#logoutBtn {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    height: auto;
    line-height: 2rem;
    background-color: rgb(230, 230, 230);
    border: none;
    color: #415b5a;
    font-weight: 600;
    /* padding: 0.5rem; */
}


/* 小螢幕 */
@media (max-width: 1600px) {
    .slideMenuTag > i {
        margin-left: -1rem !important;
    }

    .slideMenuTag {
        font-size: 1rem !important;
    }
}

#userProfile {
    width: 55%;
    height: 65%;
    margin: auto;
    background-image: url("../image/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slideMenuTag > i {
    color: #c79e42;
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 1rem;
}

.slideMenuTag {
    height: auto;
    padding: 0.75rem 1rem 0.75rem 2rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

.slideMenuTag:hover {
    cursor: pointer;
}

.on.slideMenuTag {
    background-color: rgb(196, 211, 211);
    color: rgb(65, 91, 90) !important;
}

.slideMenuTag.preIndex {
    border-bottom-right-radius: 15px;
}

.slideMenuTag.nextIndex {
    border-top-right-radius: 15px;
}


/* 上面頁面標籤 */
#navMarqueeBar {
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
    display: flex;
}

.rightNavTag {
    width: 12rem !important;
    line-height: 2rem;
    text-align: right;
}

/* 跑馬燈 */

#marquee {
    height: 2rem;
    width: calc(100% - 12rem);
    overflow: hidden;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    line-height: 1.7rem;
}

#marquee a {
    color: #e2f0f0;
}

/* 主要內容區 */
#mainArea {
    height: calc(100% - 3.5rem);
    margin-top: 0.5rem;
}

/* 搜尋框 */
#searchArea {
    background-color: white;
    box-shadow: 3px 3px 3px rgb(200, 200, 200);
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    height: 11rem;
    margin-top: 0.5rem;
    color: rgb(65, 91, 90);
}

.userField {
    display: none !important;
}

/* 結算 switch */
.toggle {
    --width: 7rem;
    --height: 2.5rem;
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
    background-color: rgb(65, 91, 90);
}

.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
    position: absolute;
    /* left: 0.7rem; */
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    line-height: 2.5rem;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    left: 2.8rem;
    color: rgb(65, 91, 90);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: -3.5rem;
    color: #ffffff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
    opacity: 0;
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle input:checked ~ .labels::before {
    opacity: 1;
    transform: translateX(calc(var(--width) - var(--height)));
}

/* 搜尋按鈕 */
#searchBtn {
    background-color: #c79e42;
    color: white;
    font-weight: 600;
    height: 3rem;
    margin-top: 1.25rem;
    width: 18%;
    margin-left: 1%;
    border-radius: 5px;
}

#searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBtn:hover {
    background-color: #e1b348 !important;
}

/* 日曆 */
.ui.table td {
    cursor: pointer;
}

.ui.table td:hover {
    background-color: #e0e0e0;
}

.fa-solid.fa-calendar-days {
    left: 1rem;
    position: absolute;
    top: 1rem;
}
.ui.calendar .today {
    background: rgb(226, 240, 240);
}

/* 搜尋條件 */
#searchCondition {
    display: inline-block;
    width: 100%;
    background: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

#searchCondition div:first-child {
    float: left;
    background-color: rgb(65, 91, 90);
    color: white;
    border: 1px solid rgb(196, 152, 53);
}

#searchCondition div:not(:first-child) {
    float: right;
    background-color: white;
    color: rgb(65, 91, 90);
    border: 1px solid rgb(65, 91, 90);
}

#searchCondition div {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-weight: 600;
    height: 2rem;
    line-height: 1rem;
}

/* logo */
.serieslogo {
    width: 2.5rem;
    height: 2.5rem;
}

.teamlogo {
    width: 2rem;
    height: 2rem;
    margin-top: -0.3rem;
    margin-right: 1rem;
}

/* 最底頁 */
#noMoreData {
    width: 100%;
    float: left;
    height: 2rem;
}

#noMoreData p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgb(65, 91, 90);
}

/* loading */
#loader {
    width: 100%;
    float: left;
    height: 2rem;
}

.loading {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgb(65, 91, 90);
}

.loading span {
    display: inline-block;
    margin: 0 -0.05em;
}

.loading04 span {
    animation: loading04 1s infinite;
}

.loading04 span:nth-child(2) {
    animation-delay: 0.1s;
}

.loading04 span:nth-child(3) {
    animation-delay: 0.2s;
}

.loading04 span:nth-child(4) {
    animation-delay: 0.3s;
}

.loading04 span:nth-child(5) {
    animation-delay: 0.4s;
}

.loading04 span:nth-child(6) {
    animation-delay: 0.5s;
}

.loading04 span:nth-child(7) {
    animation-delay: 0.6s;
}

.loading04 span:nth-child(8) {
    animation-delay: 0.7s;
}

.loading04 span:nth-child(9) {
    animation-delay: 0.8s;
}

@keyframes loading04 {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.remove.icon {
    position: absolute;
    right: 2rem;
}

/* 太長處理 */
.textOverFlow {
    /* white-space: nowrap; */
    /* max-width: 15em; */
    overflow: auto;
}

/* 選中 */
.indexBetCardTable .m_order_on {
    background: rgba(65, 91, 90, 0.9);
    color: white;
    border: 1px solid rgba(65, 91, 90, 0.9);
}
.indexBetCardTable .m_order_on span,
.indexBetCardTable .m_order_on .odd{
    color: white!important;
}

/* 左邊menu 體育種類選擇 */
.menuTypeBtn.on {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.menuTypeBtn.on .slideMenuTag {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(196, 211, 211);
    color: rgb(65, 91, 90) !important;
}

.menuTypeBtn.nextBtn .slideMenuTag {
    border-top-right-radius: 15px;
}

.menuTypeBtn.preBtn .slideMenuTag {
    border-bottom-right-radius: 15px;
}

/* Modal */
#marqModal {
    top: -100%;
    display: none;
    transition: 0.4s ease all;
}

#marqModal .modal-content {
    background-color: #e2f0f0;
    border-radius: 5px;
    overflow: hidden;
}

#marqModal .modal-body {
    background: #415b5a;
    border-radius: 5px 5px 0 0;
    padding-top: 20px;
}

#marqModal .modal-header img {
    max-width: 120px;
    width: 100%;
}

#marqModal .cdate {
    font-size: 14px;
}

#marqModal .card-header {
    background: #c4d3d3;
}

#marqModal .card-body {
    background-color: #e2f0f0;
}

.modaldiv {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.marquee-modal-content {
    background-color: white;
    padding: 20px 35px 30px 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
}

.marquee-modal-content .modal-header {
    justify-content: flex-end;
}

.marquee-modal-content span.close-modal {
    cursor: pointer;
    font-size: 1.5rem;
    right: 0;
    position: relative;
}

.marquee-modal-content .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marquee-modal-content .modal-body h5{
    font-size: 1.5rem;
}

/* toast message */
#toast {
    z-index: 4;
    position: absolute;
    top: 10px;
    right: 10px;
}
.toastType {
    font-size: 1rem;
}
.toastType.success {
    background-color: rgb(6, 198, 85);
    color: white;
    padding: 10px;
}
.toastType.error {
    background-color: rgb(212, 0, 0);
    color: white;
    padding: 10px;
}

button.dateCalendarBtn {
    border: none;
    border-radius: 5px;
    background: #ffffff;
    padding: 0.2rem 0rem;
    /* margin: 0px 0px 0.5rem 0px; */
    color: #415b5a;
    font-size: small;
    font-weight: 600;
}