#scoreboardContainer .fixture-con {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
    color: white;
}
#scoreboardContainer p {
    background-size: cover;
    margin: 0px;
}