.scoreboardCon {
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    color:#ffffff;
    padding: 2rem 9rem;
    margin-top:20px;
}

.scoreboardCon p {
    background-size: cover;
    margin: 0px;
    text-align: center;
}

.earlyFixture-container p.league_name {
    margin-bottom: 0.5rem;
}

.scoreboardCon .earlyFixture-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 2rem 2rem;
    border-radius: 5px;
    background: rgb(0 0 0 / 50%);
    margin: auto;
}

.livingFixture-container.row {
    width: 65%;
    padding: 2rem 2rem;
    border-radius: 5px;
    background: rgb(0 0 0 / 50%);
    margin: auto;
}

@media screen and (max-width:1227px) {
    .livingFixture-container.row,
    .scoreboardCon .earlyFixture-container {
        width: 87%;
    }
  }

.bettingtype-container {
    border: 2px solid #415b5a;
    border-radius: 5px;
    background: #ffffff;
    color: #415b5a;
    margin-top: 0.5rem;
    overflow: hidden;
}

.bettingtype-container .marketName {
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #415b5a;
}

.bettingtype-container .marketBetRateContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    right: 1px;
    bottom: 1px;
}

.bettingtype-container .market-rate {
    padding: 1rem;
    border-right: 1px solid #415b5a;
    border-bottom: 1px solid #415b5a;
    position: inherit;
    left: 1px;
    bottom: -1px;
}

div#bettingTypeContainer {
    height: calc(100% - 14.5rem);
    overflow: auto;
}

#scoreboardContainer th{
    padding: 0rem 0rem 0.5rem 0rem;
}

#scoreboardContainer tbody tr:last-child th{
    padding: 0rem 0rem 0rem 0rem;
}

#marketRateDataTemp.betItemDiv {
    border-top: none;
    border-right: none;
    padding: 0rem;
    height: auto;
}