.scoreboardCon {
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    padding: 0rem 2rem;
    height: 178px;
    display: flex;
}

.scoreboardCon p {
    background-size: cover;
    margin: 0px;
    text-align: center;
}

.scoreboardCon p.start_time {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.1rem;
}

.earlyFixture-container p.league_name {
    margin-bottom: 0.1rem
}

.scoreboardCon .earlyFixture-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 2rem 2rem;
    border-radius: 5px;
    background: rgb(0 0 0 / 50%);
    margin: auto;
}

.livingFixture-container.row {
    width: 65%;
    padding: 2rem 2rem 1.8rem 2rem;
    border-radius: 5px;
    background: rgb(0 0 0 / 50%);
    margin: auto;
}

@media screen and (max-width:1227px) {
    .livingFixture-container.row,
    .scoreboardCon .earlyFixture-container {
        width: 87%;
    }
  }

.bettingtype-container {
    border: 2px solid #415b5a;
    border-radius: 5px;
    background: #ffffff;
    color: #415b5a;
    margin-bottom: 0.75rem;
    overflow: hidden;
}

.bettingtype-container .marketName {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #415b5a;
}

p.market_name {
    font-size: 1.1rem;
    font-weight: 600;
}

.bettingtype-container .marketBetRateContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
}


.bettingtype-container .market-rate {
    padding: 1rem;
    border-right: 1px solid #415b5a;
    border-bottom: 1px solid #415b5a;
    position: inherit;
    left: 1px;
    bottom: -1px;
    /* width: 50%;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center; */
}

div#bettingTypeContainer {
    /* height: calc(100% - 18.5rem); */
    overflow: auto;
    padding-right: 0.5rem;
}

/* div#bettingTypeContainer::-webkit-scrollbar{
    width: 0px;
} */

#scoreboardContainer thead th{
    padding: 0rem 0rem 1rem 0rem;
}

#scoreboardContainer td {
    color: #ffffff;
}

#scoreboardContainer tbody tr:last-child th{
    padding: 0rem 0rem 0rem 0rem;
}

#marketRateDataTemp.betItemDiv {
    border-top: none;
    border-right: none;
    padding: 0rem;
    height: auto;
}

.filterBtnContainer{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.filterBtnContainer button.filterBtn {
    border: 2px solid #415b5a;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100px;
    background: #415b5a;
    color: white;
    transition: all 0.2s linear;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 0.7rem;
}

.filterBtnContainer button.filterBtn.active {
    background: #ffffff;
    color: #415b5a;
}

.setHeightDiv{
    height: 2.5rem;
    overflow: hidden;
    vertical-align: middle;
    display: contents;
}

.textOverflowCon {
    height: 2.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.textOverFlowCon::-webkit-scrollbar{
    width: 5px;
}

.textOverFlowCon::-webkit-scrollbar-thumb {
    background: #888;
  }

.market-rate.clickedBet {
    background-color: #415b5a;
}

.market-rate.clickedBet .market_bet_name{
    color: #ffffff;
}

.line {
    font-weight: normal;
    color: #ff7000;
    margin-left: -0.5rem;
    text-align: right;
    min-width: 3rem;
}
.market_bet_name {
    text-align: left;
    color: black;
    margin-right: 0.5rem;
}

.market-rate.clickedBet .market_bet_name,
.market-rate.clickedBet .line,
.market-rate.clickedBet .odd{
    color: white!important
}

span.market_price.odd {
    margin-right: 2rem;
}

.bettingtype-container .market-rate i {
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
}
#bettingTypeContainer {
    height: calc(100% - 16.5rem);
}

.noDataContainer {
    border: 2px solid #415b5a;
    border-radius: 5px;
    background: #ffffff;
    color: #415b5a;
    font-size: 14px;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
}