/* 左邊標籤 */
/* div[key="index"] {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
} */

div[key="mOrderSportMenu"],
div[key="matchSportMenu"] {
    display: none;
}

/* div[key="index"] > div {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(196,211,211);
    color: rgb(65, 91, 90) !important;
}

div[key="menuTopFill"] > div {
    border-bottom-right-radius: 15px;
}

div[key="m_order"] > div {
    border-top-right-radius: 15px;
} */

#indexContainerRightLiving {
    background-image: url(../image/gameStatus.jpg);
    background-position: center;
    background-size: cover;
    display: none;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#indexContainerRightLiving .tblDiv {
    overflow-x: auto;
    background: rgb(255 255 255 / 17%);
}

#indexContainerRightLiving img {
    width: 2em;
    height: 2em;
    margin-right: 5px;
}

#indexContainerRightLiving tbody td:first-child {
    max-width: 6em;
    min-width: 4em;
    border: 0;
    overflow: hidden;
    word-break: keep-all;
}

#indexContainerRightLiving .tblSoccer tbody td:first-child {
    max-width: 10em;
}

#indexContainerRightLiving .table td {
    vertical-align: middle;
    text-align: center;
}

#indexContainerRightLiving thead {
    background: #0d272794;
}

#indexContainerRightLiving table {
    margin-bottom: 0;
    border-color: #18181894;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

#indexContainerRightLiving .card-header {
    background: #172120a3;
    padding: 1px 5px;
    font-size: 13px;
    color: #fff;
}

/* width */
#indexContainerRightLiving .tblDiv::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#indexContainerRightLiving .tblDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px 20px #0304041a;
}

/* Handle */
#indexContainerRightLiving .tblDiv::-webkit-scrollbar-thumb {
    background: #ffffff47;
    border-radius: 10px;
}

/* Handle on hover */
#indexContainerRightLiving .tblDiv::-webkit-scrollbar-thumb:hover {
    background: #e3efee;
}

.marquee {
    animation: marquee 3s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(-200%);
    }
}
