/* 分類 */
.catWrapperTitle {
    background: rgb(184, 214, 212);
    border: 2px solid rgb(65,91,90);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 0.5rem;
}
.catWrapperContent{
    overflow: auto;
}

.catWrapperTitle span {
    line-height: 1.5rem;
}

.leagueWrapper{
    background: white;
    border: 2px solid rgb(65,91,90);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border-top: none;
}

.seriesWrapperTitle{
    padding: 0.5rem 1rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    display: flex;
    position: sticky;
    top: calc( 0.25rem - 4px );
    background-color: white;
    z-index: 1;
    border-top: 2px solid rgb(65,91,90);
}

.seriesWrapperTitle span {
    line-height: 2rem;
}
.seriesWrapperContent{
    padding: 0 0 0.5rem 0;
    z-index: 0;
    position: relative;
}
/* 主要投注 */
#indexContainer {
    display: inline-flex;
    width: 100%;
    height: calc(100% - -1rem);
    margin-top: 1.5rem;
}
/* 中間投注 */
#indexContainerLeft {
    color: #415b5a;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 1rem;
    overflow-y: auto;
    padding-right: 1rem;
}
/* 右方投注 */
#indexContainerRight {
    width: 30%;
    margin-left: 1%;
    overflow: hidden;
    color: rgb(65, 91, 90);
    font-weight: 600;
}
#indexContainerRightInfo{
    background-image:url(../image/gameStatus.jpg);
    height: 12rem;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-weight: 600;
}
#indexContainerRightInfo img {
    width: 4rem;
    height: 4rem;
}
#indexContainerRight .segment {
    overflow: hidden!important;
    padding-right: 0;
}
/* scrollbar 會超出border radius部分 故再多包一層 */
.segmentContainer{  
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding-right: 1rem;
}
.indexEachCard {
    padding: 0 1rem;
}
.indexBetCard {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    overflow-x: hidden;
    padding: 0.2rem 0;
    margin-top: 0.2rem;
    display: flex;
}

.indexBetCardLabel {
    display: inline;
}
.indexBetCardLabel img {
    float: left;
    width: 2.5rem!important;
    height: 2.5rem!important;
}
.indexBetCardSpan {
    font-size: 1.3rem;
    margin-left: 1rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.indexBetCardInfo {
    width: 25%;
    float: left;
}

[key="homeTeamInfo"] .teamSpan {
    margin-top: 0.5rem;
    /* line-height: 1.5rem; */
}
.teamSpan{
    font-size: 1.1rem;
    font-weight: 600;
    height: 2rem;
    line-height: 2rem;
    border-left: 2px solid rgb(220, 220, 220);
    padding: 0 1rem;
}
.timeSpan,
.indexBetCardTable {
    font-size: 1rem;
    font-weight: 600;
}
.timeSpan{
    width: 10%;
    float: left;
    line-height: 5rem;
    text-align: center;
}

.baseballSpan{
    width: 10%;
    float: left;
    text-align: center;
}
.baseballSpan .timer {
    height: 2.5rem;
    line-height: 2.5rem;
}
.baseballSpan .baseCon {
    height: 2.5rem;
}

.indexBetCardTable {
    width: 60%;
}
.indexBetCardTable div:first-child .betItemDiv {
    border-left: 2px solid rgb(220,220,220);
}

.indexBetCardTable div .betItemDiv:last-child {
    border-bottom: 2px solid rgb(220,220,220);
}


.otherBetWay{
    width: 5%;
    height: 5rem;
    text-align: center;
}

.otherBetWay i {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.indexBetCardInfo > div {
    height: 2.5rem;
    line-height: 2.5rem;
}
.betItemDiv {
    border-top: 2px solid rgb(220, 220, 220);
    border-right: 2px solid rgb(220, 220, 220);
    padding: 0.5rem;
    z-index: 0;
    position: relative;
}

.betItemDiv, .labelItem {
    height: 2.5rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
    overflow: hidden;
}

.betItemDiv div {
    position: relative;
}

.fa-lock {
    color: rgb(188 207 206);
}

[key='betItemDiv-1'] i, 
[key='betItemDiv'] i {
    position: absolute;
    top: 0.3rem;
    margin-left: 0.5rem;
}

[key="betItemDiv-no"] i {
    margin-top: 0.3rem;
}

.labelItem{
    text-align: center;
    padding: 0.5rem 0;
}
.betLabelContainer .labelItem:not(:last-child) > div{
    border-right: 2px solid rgb(220, 220, 220);
}

.betLabelContainer{
    width: 60%;
    display: flex;
}


.text-orange {
    color: #c79e42;
}

/* 左側投注slider */
#leftSlideOrder{
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    padding: 5rem 2rem;
    font-weight: 600;
    color: white;
}
#leftSlideOrder .teamLogo {
    width: 1.5rem;
    height: 1.5rem;
}
#leftSlideOrder button {
    background-color: #c79e42;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 2.5rem;
    padding: 0.25rem 0;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 600;
}
#leftSlideOrder button:last-child {
    background-color: white;
    color: rgb(65, 91, 90);
}

/* 賠率變化樣式 */
.odd{
    color: #c79e42 ;
}

#leftSlideOrder .raiseOdd,
#leftSlideOrder .lowerOdd{
    background-color: white!important;
    border: none!important;
}


.raiseScore::after {
    content: "\25B2"; /* Unicode 字符，代表上箭头 */
    display: inline-block;
    color: red;
    position: absolute;
    font-size: 1rem;
}

.teamScore {
    position: relative;
    font-style: italic;
}
.teamScore.raiseScore::after{
    /* top: -0.5rem; */
    /* right: -0.5rem; */
    font-size: 1.2rem!important;
}



#quickContainer .quick {
    background-color: rgb(226, 240, 240);
    border:1px solid rgb(65, 91, 90);
    text-align: center;
    margin: 0 0.2rem;
    border-radius: 5px;
    line-height: 1.5rem;
    cursor: pointer;
}
#quickContainer .quick:hover{
    background-color: rgb(65, 91, 90);
    color: white;
}
#quickContainer {
    display: flex;
}
#quickContainer > div {
    padding: 0;
    width: 25%;
}
#mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
}
.leftSlideOrderCard{
    background-color: white;
    padding: 0.5rem 0 1rem 0;
    color: rgb(65, 91, 90);
    border-radius: 5px;
}

#moneyInput {
    height: 2rem;
    border-radius: 5px;
    background-color: rgb(226, 240, 240);
    border: none;
    text-align: center;
    border: 1px solid rgb(65, 91, 90);
}

/* 刷新餘額 icon旋轉 */
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.rotate-animation {
    animation: rotate 2s linear infinite;
}

#better_rate {
    height: 1.2rem;
    width: 2rem;
    accent-color: #c79e42;
}

/* 右邊tab */
div[key="winHomeRate"]:hover,
div[key="winTieRate"]:hover,
div[key="winAwayRate"]:hover,
div[key="hcapHomeRate"]:hover,
div[key="hcapAwayRate"]:hover,
div[key="sizeBigRate"]:hover,
div[key="sizeSmallRate"]:hover {
    color: #c79e42;
    cursor: pointer;
}
.scoreSpan {
    text-align: center;
    color: #c79e42;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}



/* 賠率變化 */
.raiseOdd .odd,
.betItemDiv .fa-caret-up {
    color: red!important;
}

.lowerOdd .odd,
.betItemDiv .fa-caret-down {
    color: rgb(0, 212, 81)!important;
}


#noData {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(65, 91, 90);
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#noData i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 25%;
}


/* #leftSlideOrder > loading  */
#leftSlideOrderLoadingContainer.hidden {
    display: none;
}

#leftSlideOrderLoadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 5rem 2rem;
    color: white;
    font-weight: 600;
}

#leftSlideOrderLoadingContainer #leftSlideOrderLoadingSpinner {
    /* border: 5px solid #f3f3f3;
    border-top: 5px dashed #b8d6d4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loadingspin 2s linear infinite; */
    width: 100px;
    height: 100px;
    border: 8px solid transparent;
    border-top: 8px dashed transparent;
    border-image: linear-gradient(90deg, #f3f3f3, #f3f3f3, #f3f3f3, #b8d6d4, #f3f3f3, #f3f3f3);
    border-image-slice: 1;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes loadingspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
