/* 上方投注明細 */
#m_order_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    padding: 1rem 37rem;
}
#m_order_detail button {
    padding: 0.5rem 1rem;
    text-align: center;
    margin: auto;
    width: 15rem;
    height: 3rem;
}

#m_order_detail button{
    background: white;
    color: rgb(65, 91, 90);
    font-weight: 600;
    border: none;
    border-radius: 25px;
}

#m_order_detail button:first-child{
    background: #c79e42;
    color: white;
}

#m_order_detail .fa-xmark {
    position: absolute;
    color: white;
    right: 1rem;
    font-size: 2rem;
}



/* 左側投注slider */
#leftSlideOrder{
    padding: 5rem 1rem!important;
}
#leftSlideOrderCardBetArea{
    background-color: rgb(226, 240, 240);
    padding: 0.5rem 0;
    color: rgb(65, 91, 90);
    border-radius: 5px;
    margin-top: 1rem!important;
}
.orderInfo{
    border-radius: 5px;
    padding: 0.5rem;
}
.orderInfo div:first-child {
    background-color: white;
    border-radius: 5px;
}
.leftSlideOrderCard{
    padding: 0.5rem!important;
}
#leftSlideOrderCardContainer {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 15rem;
}

#leftSlideOrderCardContainer::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    border-radius: 10px;
}

#leftSlideOrderCardContainer::-webkit-scrollbar-thumb {
    background-color: rgb(65, 91, 90)
}
.orderCardIndex{
    text-align: center;
    background-color: rgb(65, 91, 90);
    border-radius: 50%;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}