#matchContainer {
    background-color: white;
    border: 2px solid rgb(65, 91, 90);
    border-radius: 30px;
    padding: 1rem 0rem 1rem 1rem;
    height: calc(100% - 8rem);
    overflow: hidden;
    margin-bottom: 1rem;
    color: rgb(65, 91, 90);
    padding-right: 1rem;
    margin-top: 60px;
}

#tableContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1rem;
}

th {
    border-top: none!important;
}

tr td:first-child, tr th:first-child {
    border-left: none!important;
}

tr td:last-child, tr th:last-child {
    border-right: none!important;
}

tr:last-child td,
tr:nth-last-child(2) td {
    border-bottom: none!important;
}

#matchTable td,
#matchTable th {
    border: 2px solid rgb(196,211,211);
    padding: 0.5rem;
    font-weight: 600;
}


