#matchContainer {
    background-color: white;
    border: 2px solid rgb(65, 91, 90);
    border-radius: 30px;
    padding: 1rem 0rem 1rem 1rem;
    height: calc(100% - 8rem);
    overflow: hidden;
    margin-bottom: 1rem;
    color: rgb(65, 91, 90);
    padding-right: 1rem;
    margin-top: 60px;
}

#tableContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1rem;
}


#matchTable td,
#matchTable th {
    border: 2px solid rgb(196,211,211);
    padding: 0.5rem;
    font-weight: 600;
}
.no-border-left{
    border-left: none!important;
}
.no-border-top td,
.no-border-top th{
    border-top: none!important;
}
.no-border-right{
    border-right: none!important;
}
.no-border-bottom td {
    border-bottom: none!important;
}

