/* test */
#mainArea {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#noticePage.notice-con {
    width: 100%;
}

.sportMenu {
    display: none;
}

/* div[key="rule"] {
    background-color: #415b5a;
}

div[key="rule"]>div {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(196, 211, 211);
    color: rgb(65, 91, 90);
}

div[key="match"]>div {
    border-bottom-right-radius:15px;
}

div[key="logs"]>div {
    border-top-right-radius:15px;
} */

.notice-con .nav{
    display: flex;
    /* grid-auto-columns: 1fr;
    grid-row-gap: 0.1rem; */
    border: none;
}

.notice-con .nav-tabs h3 {
    text-align: center;
    margin: 0px!important;
    color: white;
    padding: 0.75rem 1rem;
}

.notice-con .nav .nav-link{
    background: #415b5a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1rem;
    margin: 0px;
    font-weight: 600;
    width: 100%;
}

.notice-con .nav .nav-link.active{
    background: #c4d3d3;
    color: #415b5a;
}

ul.number-bullets {list-style-type: number;}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
}

ul.alpha-bullets {
    list-style-type: lower-alpha;
}

ul.upper-alpha-bullets {
    list-style-type: upper-alpha;
}

ul.roman-bullets {
    list-style-type: lower-roman;padding: 0;
}

li {
    line-height: 2rem;
}

.nopad {
    padding: 0px!important;
}

.notice-row {
    background: #415b5a;
    border: 1px solid #415b5a;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    padding: 1rem 1rem 0rem 1rem;
    margin: 0;
}

.notice-row .notice-col-left nav {
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.notice-row .notice-col-left nav::-webkit-scrollbar {
    width: 0px;
}

.notice-col-left {
    background: #415b5a;
}

.notice-col-right {
    padding: 1.5rem 1rem 1.5rem 2rem;
    background: #c4d3d3;
    border-radius: 5px;
}

.notice-tab-con {
    height: calc(100vh - 9rem);
    overflow: auto;
    width: 100%;
    padding: 0px 2rem 0px 0px;
    color: #415b5a;
}

/* width */
.notice-tab-con::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.notice-tab-con::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px 20px #415b5a; 
  border-radius: 5px;
}
 
/* Handle */
.notice-tab-con::-webkit-scrollbar-thumb {
  background: #e2f0f0; 
  border-radius: 5px;
  border: 2px solid #415b5a;
}

/* Handle on hover */
.notice-tab-con::-webkit-scrollbar-thumb:hover {
  background: #e2f0f0; 
}

.notice-tab .tab-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
}

.notice-tab .tab-card {
    border: 1px solid #415b5a;
    color: #415b5a;
    border-radius: 5px;
    overflow: hidden;
}

.notice-tab .tab-card p {
    margin: 0px!important;
}

.notice-tab .tab-card-title {
    padding: 1rem;
    border-bottom: 1px solid #415b5a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.notice-tab .tab-card-title .noticetitle{
    width: 60%;
}
.notice-tab .tab-card-title .noticetime{
    width: 40%;
    text-align: right;
}

.notice-tab .tab-card-content {
    padding: 1rem;
    background: white;
}

.notice-tab .no-tab-card-text {
    border: 1px solid #415b5a;
    color: #415b5a;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5rem;
    background: white;
    text-align: center;
}