/* 左邊標籤 */
div[key="notice"] {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

div[key="notice"] > div {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(196, 211, 211);
    color: rgb(65, 91, 90);
}

div[key="calculator"] > div {
    border-bottom-right-radius: 15px;
}

div[key="menuBottomFill"] > div {
    border-top-right-radius: 15px;
}

div[key="indexSportMenu"],
div[key="mOrderSportMenu"],
div[key="matchSportMenu"] {
    display: none;
}

.notice-container {
    border-radius: 5px;
    background-color: #e2f0f0;
}

.notice-tab-content .card .card-header {
    background-color: #c4d3d3;
}

.notice-tab-content .card .card-body {
    background-color: #e2f0f0;
}

.notice-nav {
    padding: 20px;
}

.notice-nav p {
    font-size: 20px;
    font-weight: bold;
}
.notice-container-pad {
    background: #415b5a;
    border-radius: 5px;
    padding: 20px 10px 20px 20px;
}

.notice-tab-content {
    border-radius: 5px;
    padding: 0px 10px;
    max-height: 70vh;
    height: 100%;
    overflow-y: scroll;
}

.notice-tab-content .noData {
    padding: 150px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.notice-nav .nav-pills .nav-link.active,
.notice-nav .nav-pills .nav-link:hover {
    background: #e2f0f0;
    color: #415b5a;
    box-shadow: #415b5a 0px 0px 6px;
}

.notice-nav.nav-pills .nav-link.active {
    background: #fff;
    color: #415b5a;
    box-shadow: #415b5a 0px 0px 6px;
}

.notice-title {
    font-weight: bold;
}

.notice-nav.nav-pills .nav-link {
    font-weight: bold;
    background: #415b5a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    box-shadow: #000 0 0 3px;
}

.notice-tab-content .card {
    margin-bottom: 10px;
}

/* width */
.notice-tab-content::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.notice-tab-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px 20px #728685;
    border-radius: 5px;
}

/* Handle */
.notice-tab-content::-webkit-scrollbar-thumb {
    background: #e3efee;
    border-radius: 5px;
}

/* Handle on hover */
.notice-tab-content::-webkit-scrollbar-thumb:hover {
    background: #e3efee;
}
