/* 左邊標籤 */
div[key="order"] {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

div[key="order"] > div {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(196,211,211);
    color: rgb(65, 91, 90);
}

div[key="m_order"] > div {
    border-bottom-right-radius: 15px;
}

div[key="match"] > div {
    border-top-right-radius: 15px;
}

div[key="indexSportMenu"],
div[key="mOrderSportMenu"],
div[key="matchSportMenu"]{
    display: none;
}

#orderContainer {
    background-color: white;
    border: 2px solid rgb(65, 91, 90);
    border-radius: 15px;
    /* height: 100%; */
    height: calc(100% - 10rem);
    overflow: hidden;
    color: rgb(65, 91, 90);
    position: relative;
}

#tableContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-right: 1rem; */
}

.pageInfo {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: initial;
}


/* datatable */
#orderTable_paginate {
    position: fixed;
    bottom: 3rem;
    left: 47.5%;
}

#orderTable td,
#orderTable th {
    border-left: 2px solid rgb(65, 91, 90);
    border-right: 2px solid rgb(65, 91, 90);
    padding: 1rem;
    font-weight: 600;
}

#orderTable th:first-child,
#orderTable td:first-child{
    border-left: none!important;
}

#orderTable th:last-child,
#orderTable td:last-child{
    border-right: none!important;
}

#orderTable tbody tr:nth-child(even) td{
    background-color: #e2f0f0;
}

#orderTable thead {
    background: #c4d4d4;
}

.no-border-left{
    border-left: none!important;
}
.no-border-top td,
.no-border-top th{
    border-top: none!important;
}
.no-border-right{
    border-right: none!important;
}
.no-border-bottom td {
    border-bottom: none!important;
}
#countTr td{
    border: none!important;
}

#noDataTd {
    height: 30rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(65, 91, 90);
}

#noDataTd i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.orderInfoIndex {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: rgb(65, 91, 90);
    color: white;
}

#orderCountTotal {
    width: 5rem; 
    height: 2rem;
    line-height: 2rem;
    float: right;
}


/* pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination button,
#pagination p {
    margin: 0 5px;
    /* 可根据需要调整按钮和段落之间的间距 */
}


#orderContainer {
    margin-top: 1rem;
}
.orderData_betDataDetails {
    position: relative;
    padding: 2rem!important;
}

.betaDetcon {
    display: block;
    text-align: left;
    padding: 0.5rem 0rem;
}

.betaDetcon.hide-betaDetcon {
    display: none;
    border-top: 1px solid rgb(196,211,211);
    border-bottom: 1px solid rgb(196,211,211);
}

.betaDetcon.hide-betaDetcon:last-child {
    border-bottom: 0px solid rgb(196,211,211);
}

.order-toggleButton{
    display: none;
}

.order-toggleButton.showbutton{
    display: block;
}

.order-toggleButton {
    background-color: rgb(65, 91, 90);
    color: white;
    border-radius: 25px;
    position: absolute;
    right: 0.5rem;
    transition: all 0.5s ease 0s;
    width: 4.5rem;
    top: 2.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: none;
  }

/* search bar and statistic css */
.search-statistic-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.search-statistic-container .search-bar-container {
    width: 52%;
}

.search-statistic-container .search-bar-container {
    padding: 1rem;
    background: #415b5a;
    border-radius: 10px;
}

.search-statistic-container .search-bar-container,
.search-statistic-container .datepicker-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-statistic-container .datecalendar-con {
    width: 72%;
}

.search-statistic-container .select-con {
    width: 26%;
    position: relative;
}

.search-statistic-container .select-con::after {
    position: absolute;
    content: '⏷';
    height: auto;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.search-statistic-container select {
    background: white;
    word-wrap: normal;
    padding: 0.5rem;
    border: 1px solid #415b5a;
    border-radius: 15px;
    -moz-appearance: none;
    -webkit-appearance: none; 
    position: relative;
    width: 100%;
    outline: none;
    cursor: pointer;
    color: #415b5a;
}



/* for IE10 */ 
.search-statistic-container select::-ms-expand { 
    display: none; 
} 

.datecalendar-con .date-divider {
    margin: 0px 0.5rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
}

.custom-datepicker-class {
    background: white;
    padding: 0.5rem;
    border: 1px solid #415b5a;
    border-radius: 5px;
    top: 133px!important;
}

.custom-datepicker-class td span, 
.custom-datepicker-class td a {
    color: rgb(65, 91, 90)!important;
}

.ui-datepicker-today a, .ui-datepicker-today span{
    font-weight: 600!important;
}

#datepicker_from,#datepicker_to {
    outline: none;
    border-radius: 0px;
    border: none;
}

.datepicker-con .input-group-text{
    border-radius: 0px!important;
    background: #ffffff;
    border: none;
    position: relative;
}

.datepicker-con .input-group.date {
    border-radius: 15px;
    overflow: hidden;
}

.datebutton-cons {
    margin-top: 0.8rem;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
}

button.dateCalendarBtn {
    border: none;
    border-radius: 15px;
    background: #ffffff;
    padding: 0.5rem;
    margin: 0px 0px 0.5rem 0px;
    color: #415b5a;
}

.statistic-container {
    width: 58%;
    display: grid;
    grid-template-columns: 18.5% 18.5% 18.5% 18.5% 18.5%;
    justify-content: space-between;
    align-items: start;
    padding-left: 1%;
}

.stats-container {
    height: 100%;
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #415b5a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-container p{
    text-align: end;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.orderData_betData_Event,
.orderData_betData_BetWay,
.orderData_betData_Result,
.orderData_mOrder{
    position: relative;
}